@import '../../constants.pcss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 872px;
  max-width: 100%;
  height: 640px;
  max-height: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @media (--mobile) {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) and (orientation:portrait) {
    padding-bottom: 56px;
  }
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  @media (--mobile) {
    border-radius: 50%;
    background: #fff;
  }
}

.popupContainer {
  display: flex;
  width: 100%;
  height: 100%;

  @media (max-width: 767px) and (orientation:portrait) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.content {
  flex: auto;
  padding: 50px 40px;
  background: #fff;
  overflow: auto;

  @media (max-width: 992px) {
    padding: 35px 30px;
  }

  @media (max-width: 767px) and (orientation:portrait) {
    height: 45%;
  }

  @media (--mobile) {
    padding: 20px 15px;
  }
}

.header {
  padding-bottom: 10px;
}

.authorInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.authorLogo {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  border: solid 0.5px #e3e3e3;
  overflow: hidden;
}

.authorLogoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 50%;
}

.authorName {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
}

.title {
  max-width: 100%;
  margin: 0 0 14px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.17;
}

.privateOffer {
  display: inline-block;
  margin-bottom: 14px;
  padding: 2px 7px 3px;
  border-radius: 6px;
  background-color: #ee1e31;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}

.descriptionBlock {
  margin-bottom: 30px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.descriptionLabel {
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
}

.descriptionText {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
}

.sidebar {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 332px;
  background: #eee;

  @media (max-width: 767px) and (orientation:landscape) {
    width: 40%;
  }

  @media (max-width: 767px) and (orientation:portrait) {
    width: 100%;
    height: 55%;
  }
}

.image {
  position: relative;
  flex: none;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 767px) and (orientation:landscape) {
    height: 154px;
  }

  @media (max-width: 767px) and (orientation:portrait) {
    height: 190px;
  }
}

.infoBlock {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 24px 0 0 16px;
  background: #fafafa;
  overflow: auto;

  @media (--mobile) {
    padding: 16px;
  }
}

.infoItem {
  width: 50%;
  padding: 0 16px 16px 40px;

  @media (--mobile) {
    width: 100%;
    padding-bottom: 10px;
  }
}

.infoLabel {
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;

  @media (--mobile) {
    margin-bottom: 2px;
  }
}

.infoValue {
  position: relative;
}

.infoValueIcon {
  position: absolute;
  top: 0;
  right: calc(100% + 15px);
}

.infoValueText {
  font-size: 14px;
  line-height: 1.43;
}

.infoValueLink {
  border-bottom: 1px dashed;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: var(--blueColor);
  text-decoration: none;
  &:hover {
    border-bottom: none;
    text-decoration: none;
  }
}

.actionButton {
  flex: none;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 0;
  background: var(--blueColor);
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: var(--blueDarkenColor);
  }

  @media (max-width: 767px) and (orientation:portrait) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.actionButtonDisabled {
  background: #f3f3f3;
  color: var(--blueColor);
  pointer-events: none;
}

.popupStatus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.popupStatus_moderated {
  background: var(--blueTransparentColor);
}

.popupStatus_rejected {
  background: var(--redTransparentColor);
}

.popupStatus_closed {
  background: var(--blackTransparentColor);
}

.inviteBlogers {
  margin-bottom: 14px;
}

.inviteBlogersCaption {
  margin-bottom: 12px;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
}

.inviteBlogersButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.inviteBlogersIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #f0f5fa;
}

.inviteBlogersText {
  font-size: 14px;
  line-height: 1;
  color: var(--blueColor);
}

.blogers {
  margin-bottom: 14px;
}

.blogersCaption {
  margin-bottom: 8px;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #9b9b9b;
}

.blogersRow {
  display: flex;
}

.blogersItem {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #fff;
  margin-left: -10px;
  background: pink;
  overflow: hidden;
  &:first-child {
    margin-left: 0;
    z-index: 4;
  }
  &:nth-child(2) {
    z-index: 3;
  }
  &:nth-child(3) {
    z-index: 2;
  }
  &:nth-child(4) {
    z-index: 1;
  }
}

.blogersItemLast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blueColor);
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
}

.files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 3px;
  border: solid 1px #e3e3e3;
  padding: 0 12px;
}

.filesDownload {
  border-bottom: 1px dotted;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: var(--blueColor);
  text-decoration: none;
  transition: border-bottom-color .1s ease;
  &:hover {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

.filesCaptionLink {
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--blueColor);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.filesSize {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #9b9b9b;
}

.rejectedDescription {
  position: relative;
  padding: 12px 16px 20px;
  background: #f6e8ea;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #da4c5a;

  @media (--mobile) {
    display: none;
  }
}
