@import '../../constants.pcss';

.wrapper {
  padding: 32px 16px;
  background: #fafafa;
}

.container {
  width: 100%;
  max-width: 872px;
  margin: 0 auto;

  @media (--mobile) {
    flex-wrap: wrap;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItem {
  margin-bottom: 28px;

  @media (--mobile) {
    margin-bottom: 20px;
  }
}

.tabsItem {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  margin-right: 32px;
  border-bottom: 3px solid transparent;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  transition: border-bottom-color .1s ease-out;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    border-bottom-color: rgba(75, 134, 198, .5);
  }
  &.active {
    border-bottom-color: rgba(75, 134, 198, 1);
    cursor: default;
    pointer-events: none;
  }
}

.newOfferButton {
  height: 36px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  background: #4b86c6;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  transition: background .1s ease-out;
  cursor: pointer;
  &:hover {
    background: #467db9;
  }
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@supports (grid-area: auto) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 16px 16px;
  }
}
