@import '../../constants.pcss';

.wrapper {
  position: relative;
  width: calc(33% - 9px);
  margin-bottom: 16px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 3%;
    width: 94%;
    height: 100%;
    filter: blur(4.3px);
    background-color: rgba(0, 0, 0, 0.21);
    opacity: 0;
    transition: opacity .1s ease-out;
    z-index: 0;
  }
  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    &:before {
      opacity: 1;
    }
  }
}

@supports (grid-area: auto) {
  .wrapper {
    width: auto;
    margin-bottom: 0;
  }
}

.ownOffer {
  &:hover {
    & .editButton {
      bottom: 16px;
      opacity: 1;
    }
    & .tags {
      opacity: 0;
    }
  }
}

.imageWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 176px;
  padding: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: radial-gradient(circle at 100% 0, rgba(49, 49, 56, 0.08), rgba(49, 49, 56, 0.12) 20%, rgba(49, 49, 56, 0.24) 51%, rgba(49, 49, 56, 0.32) 77%, rgba(49, 49, 56, 0.48)), linear-gradient(rgba(49, 49, 56, 0.1), rgba(49, 49, 56, 0.1));
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    pointer-events: none;
    z-index: 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    height: 200px;
  }
  @media (max-width: 500px) {
    height: 200px;
  }
}

.infoCaption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.infoCaptionItem {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 17px;
  &:last-child {
    margin-right: 0;
  }
}

.infoCaptionIcon {
  margin-right: 8px;
}

.infoCaptionText {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}

.datePriceWrap {
  z-index: 1;
}

.price {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #fff;
}

.date {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}

.contentBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 184px;
  padding: 16px;
  border: solid 1px #e3e3e3;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
  overflow: hidden;

  @media (min-width: 768px) and (max-width: 992px) {
    height: 220px;
  }
  @media (max-width: 500px) {
    height: 220px;
  }
}

.contentText {
  position: relative;
  padding-right: 30px;
}

.title {
  max-width: 100%;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

.description {
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
}

.tags {
  font-size: 12px;
  letter-spacing: 0.2px;
  transition: opacity .1s ease-out;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 0.5px #e3e3e3;
  overflow: hidden;
}

.logoImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 50%;
}

.status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: hidden;
  z-index: 2;
}

.status_moderated {
  background: var(--blueTransparentColor);
}

.status_rejected {
  background: var(--redTransparentColor);
}

.status_closed {
  background: var(--blackTransparentColor);
}

.statusText {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.editButton {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  height: 36px;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  background: var(--blueColor);
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  transition: .1s ease-out;
  opacity: 0;
  cursor: pointer;
  &:hover {
    background: var(--blueDarkenColor);
  }
}

.privateOffer {
  display: inline-block;
  margin-bottom: 6px;
  padding: 2px 7px 3px;
  border-radius: 6px;
  background-color: #ee1e31;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #fff;
}
