@custom-media --mobile (width < 768px);

:root {
  --blackColor: #4a4a4a;
  --blueColor: #4b86c6;
  --blueDarkenColor: #467db9;
  --blueTransparentColor: rgba(75, 134, 198, 0.8);
  --blackTransparentColor: rgba(74, 74, 74, 0.8);
  --redTransparentColor: rgba(218, 76, 90, 0.8);
}
