@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  color: #4a4a4a;
  word-wrap: break-word;
  & * {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border: 0 none #fff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #bbb;
    }
    &::-webkit-scrollbar-thumb:active {
      background: #bbb;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      border: 0 none transparent;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
      background: transparent;
    }
    &::-webkit-scrollbar-track:active {
      background: transparent;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  }
}

div, p {
  max-width: 100%;
}
